<h1>Home Page</h1>

<button onclick="signIn()">Sign in</button>

<div>
    <button onclick="signOut()">Sign out</button>
</div>

<div>
    <button onclick="callApi()">Call Api</button>
    <span>
        Prints out a secret message from authorized api endpoint in console
    </span>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.11.5/oidc-client.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="~/main.js"></script>